# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
*.log
staticfiles/
media/

# VSCode
.vscode/

# PyCharm
.idea/

# SQLite database
*.sqlite3

# OS
Thumbs.db
